resource/MeasureHistoryView.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="measureHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="measure"  maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="mid" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:float" name="value"/>
              <xs:element type="xs:string" name="created"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>